#contentchooser-content-search .close {
  position: absolute;
  top: -14px;
  left: -14px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-image: url('++resource++plone.app.jquerytools.pb_close.png');
}
